<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.community.mapper.ReviewMapper">
    <resultMap id="ReviewMap" type="Review">
        <id column="review_id" property="reviewId"/>
        <result column="owner_id" property="ownerId"/>
        <result column="article_id" property="articleId"/>
        <result column="content" property="content"/>
    </resultMap>
</mapper>
